{% extends 'base.html.twig' %}
{% block stylesheets %}
   {{ parent() }}
   {{ encore_entry_link_tags('program') }}
{% endblock %}
{% block javascripts %}
   {{ parent() }}
   {{ encore_entry_script_tags('program') }}

{% endblock %}
{% block title %}All categories{% endblock %}

{% block body %}
    <h1>Toutes les séries de la table program : </h1>
    {% for category in categories %}
        <div>
            <p>{{ category.name }}</p>
        </div>
    {% else %}
        Aucune categories trouvée.
    {% endfor %}

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}