{% extends 'base.html.twig' %}
{% block stylesheets %}
   {{ parent() }}
   {{ encore_entry_link_tags('program') }}
{% endblock %}
{% block javascripts %}
   {{ parent() }}
   {{ encore_entry_script_tags('program') }}

{% endblock %}
{% block body %}
      <h1>{{ website }} index</h1>
{% endblock %}